{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <form action="{% url 'searchpageskills' %}" method="GET">
    {% csrf_token %}
    <input type="text" placeholder="Enter skills for search....." name="query" id="">
    <input type="submit" value="Search">
  </form>
<h2>All Jobs</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Skills</th>
    <th>Actions</th>
  </tr>
  {% for i in job %}
  <tr>
    <td> {{i.title}} </td>
    <td> {{i.category}} </td>
    <td> {{i.skills}} </td>
    <td>
    
        <a href="{% url 'jobdetails' i.id %}">View</a>
        {% if user.usertype == 'job_seeker' %}
        <a href="{% url 'applyjobpage' i.id %}">Apply Job</a>
        {% endif %}
        
    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>


{% endblock content %}